# General Customer's Canvas Hub configuration
VITE_CCHUB_BASEURL=https://customerscanvashub.com
VITE_CCHUB_STOREFRONTID=42 # Create it as explained here: https://customerscanvas.com/help/admin-guide/settings/integrations.html
CCHUB_CLIENTID=... # Create External App registration (Client Credentials) as explained here: https://customerscanvas.com/help/admin-guide/settings/external-apps.html  
CCHUB_CLIENTSECRET=...
VITE_CCHUB_TENANTID=4242 # Your tenant ID - find it on the Settings > Tenant tab https://customerscanvas.com/help/admin-guide/settings/tenant.html  

VITE_CCHUB_ENVIRONMENT=us # What is the CCHub environment - US, EU or AU. 

APP_LOGLEVEL=info
